<div class="view-product-container">
  <img
    [src]="product.image"
    class="view-product-avatar" alt="...">
  <div class="view-product-content">
    <div class="view-product-content-row view-product-name">
      {{product.name}}
    </div>
    <div class="view-product-content-row">
      <i class="fa fa-usd view-product-content-icon"></i> {{product.price}}
    </div>
    <div class="view-product-content-row">
      <i class="fa fa-info view-product-content-icon"></i> {{product.description}}
    </div>
  </div>
  <div class="view-product-action">
    <i class="fa fa-pencil edit" aria-hidden="true" (click)="action.emit({action: 'edit',data: product})"></i>
    <i class="fa fa-trash remove" aria-hidden="true" (click)="action.emit({action: 'delete',data: product})"></i>
  </div>
</div>
